<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@config["ApplicationName"] - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Menu -->
    <header>
        @await Html.PartialAsync("_Menu")
    </header>
    <!-- Content -->
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <!-- Footer -->
    <footer class="border-top text-muted mt-4">
        <div class="container">
            &copy;2022 - Movie App
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
